<header id="show-header">
    <h1>The Show Exempted Player App</h1>
    <p class="summary">The purpose of this app is to add MLB players to either the Bereavement or Paternity list to add to the experience of playing MLB The Show.
        Click the 'Run Program' button once for every day in the game for a 5% chance of a player being added to either list for 3 days,
        after which they will be removed and no longer eligible (unless they are manually removed and added back). </p>
    <!--<p class="summary">To create a team enter a username and add your players. When finished click the 'Save Team' button. This will save the current status of all players</p>
-->
</header>