<!doctype html>
<html ng-app="theShowApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="src/assets/css/theShow.css" rel="stylesheet" type="text/css">
    <title>Show Exemption App</title>

</head>
<body>
<div>
    <div class="container">
        <header ng-include=" 'assets/partials/header.html' "></header>
        <section id="show-main" ng-controller="playerCtrl as vm">
            <h3>Generate Players</h3>
            <p class="summary">Enter your username in the field and click the "Get Team" button to generate your players. Enter "tester" to generate a previously configured
            team for you to experiment with.</p>
            <form name="getPlayers" class="getPlayersForm" novalidate>
                <div class="input-group addPlayerInput">
                    <input class="form-control" type="text" name="username" ng-model="vm.username" placeholder="Username..." class="teamForm" required autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.getTeam()">Get Team</button>
                            <button class="btn btn-default" type="button" ng-click="vm.addTeam()" ng-disabled="true">Add Team</button>
                        </span>
                </div>
            </form>
            <div ng-controller="editPlayer as ep" class="addPlayerInput">
                <div class="input-group">
                    <input class="form-control" type="text" name="player" ng-disabled="ep.chosenTeam.length > 24" ng-model="ep.player" placeholder="Add player(s) here" class="teamForm" required />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="ep.enter()" ng-disabled="ep.chosenTeam.length >  24">Enter</button>
                        </span>
                </div>
                <div class="playerWrapper">
                    <div class="playerList" ng-repeat="player in chosenTeam track by $index"> {{player}}
                        <div class="playerButtons">
                            <button class="removeButton" ng-click="ep.removePlayer(player)"> Remove</button>
                        </div>
                    </div>
                </div>

            </div>

            <p class="rosteredPlayers">Roster Players (click to remove):</p>
            <span id="show-playerDisplay"  class="show-exemptedPlayers" ng-click="vm.removePlayer(player)" ng-repeat="player in vm.rosteredPlayers"> {{ player}}, </span>
            <display-players players="vm.rosteredPlayers">{{player}}</display-players>
            <div class="show-exemptedGroup">
                <span class="show-exemptionDescription">Players currently on bereavement list (days remaining):</span><br> <span ng-repeat="player in vm.bereavement" class="show-exemptedPlayers"> {{ player.name }} ({{player.days}})  </span><p class= "show-exemptedPlayers" ng-show="exemptedPlayers.bereavement.length === 0"> No Players </p>
                <p class ="show-exemptedPlayers"> </p>
            </div>
            <div class="show-exemptedGroup">
                <span class="show-exemptionDescription">Players currently on paternity leave (days remaining):</span><br> <span ng-repeat="player in vm.paternity" class="show-exemptedPlayers"> {{ player.name }} ({{player.days}})  </span><p class = "show-exemptedPlayers" ng-show="exemptedPlayers.paternity.length === 0"> No Players </p>
                <p class ="show-exemptedPlayers"> </p>
            </div>

            <button type="submit" class="btn btn-primary btn-md" ng-click="vm.runExemptedPlayers()">Run Program</button>
            <button class="btn btn-success btn-md submitButton saveTeam" ng-disabled="true" ng-click="vm.submitTeam()"> Save Team</button>

        </section>
    </div>
</div>

<script src="vendor/angular-1.4.8.js"></script>
<script src="src/vendor/ramda-0.19.0.js"></script>
<script src="src/vendor/lodash-3.10.1.js"></script>
<script src="app/common/common.js"></script>
<script src="app/common/models/playerModel.js"></script>
<script src="src/app/theShow.js"></script>

</body>

</html>

